<%-include("header")-%>

<div  class="text-center center">
<div>
    <h2>Login</h2>
</div>
<div class="container w-25 border py-5 text-center">
    <form method="post" action="/login">
        <div>
            <input name="email" id="name" value="" type="email" placeholder="email"/>
        </div>
        <div>
            <input name="password" id="password" type="password" placeholder="password"/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary"/>
        </div>
    </form>
</div>
</div>