<%-include("header")-%>

<div>
    <h2>Login</h2>
</div>
<div>
    <form method="post" action="/login">
        <div>
            <input name="email" id="name" value="" type="email" placeholder="email"/>
        </div>
        <div>
            <input name="password" id="password" type="password" placeholder="password"/>
        </div>
        <div>
            <input type="submit"/>
        </div>
    </form>
</div>