<%-include("header")-%>

<div class="text-center center">
<div>
    <h2>Signup Page</h2>
</div>
<div class="container w-25 py-5 border">
    <form method="post" action="/create">
        <div>
            <input name="name" id="name" type="text" placeholder="name">
        </div>
        <div>
            <input name="email" id="email" type="email" placeholder="email">
        </div>
       
        <div>
            <input name="password" id="password" type="password" placeholder="password">
        </div>
        <div>
            <input type="submit">
        </div>
        
    </form>
</div>
</div>